.dropzone-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 20px;
  margin: 30px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
  cursor: pointer;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  width: 100%;
  margin: 30px 0;
}

.img-decrypted {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  width: 50%;
  background-color: #c50b3a;
  color: white;
  font-weight: bold;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.img-decrypted:hover {
  background-color: #d71340;
  transition:
    200ms cubic-bezier(0.08, 0.52, 0.52, 1) background-color,
    200ms cubic-bezier(0.08, 0.52, 0.52, 1);
}
