.img-decrypted-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.img-decrypted {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: #c50b3a;
  color: white;
  font-weight: bold;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.img-decrypted:hover {
  background-color: #d71340;
  transition:
    200ms cubic-bezier(0.08, 0.52, 0.52, 1) background-color,
    200ms cubic-bezier(0.08, 0.52, 0.52, 1);
}
